rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid));
    }
    match /homepage/{imageId} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 600 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /packages/{imageId} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 600 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /blog/{imageId} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 600 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
